@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:system_admin')">模块管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:admin_database')">数据库管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="@u('suda:config_database')">数据库配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_mailer')">邮件配置</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <form action="@u('suda:config_database')" method="POST">
                @if ($:show(false)) @if ($:check(true))
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {{ __('数据库配置测试链接成功！已保存新配置') }}
                </div>
                @else
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {{ __('数据库配置测试链接失败!使用上次的配置') }}
                </div>
                @endif @endif
                <fieldset>
                    <legend>MySQL基本设置</legend>

                    <div class="form-group row">
                        <label for="input_host" class="col-2 col-form-label">服务器</label>
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" name="database[host]" class="form-control col-10" value="{{ $:database['host'] ?? conf('database.host','localhost') }}">
                                <input type="number" name="database[port]" class="form-control col-2" value="{{ $:database['port'] ?? conf('database.port',3306)  }}"
                                    placeholder="端口">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="db_name" class="col-2 col-form-label">数据库名</label>
                        <div class="col-10">
                            <input name="database[name]" class="form-control" type="text" value="{{ $:database['name'] ?? conf('database.name','dxkite') }}"
                                id="db_name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="db_prefix" class="col-2 col-form-label">表前缀</label>
                        <div class="col-10">
                            <input name="database[prefix]" class="form-control" type="text" value="{{ $:database['prefix'] ?? conf('database.prefix','dx_') }}"
                                id="db_prefix">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="db_charset" class="col-2 col-form-label">编码</label>
                        <div class="col-10">
                            <input name="database[charset]" class="form-control" type="text" value="{{ $:database['charset'] ?? conf('database.charset','utf8') }}"
                                id="db_charset">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="db_user" class="col-2 col-form-label">用户名</label>
                        <div class="col-10">
                            <input name="database[user]" class="form-control" type="text" value="{{ $:database['user'] ?? conf('database.user','root')  }}"
                                id="db_user">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="db_passwd" class="col-2 col-form-label">密码</label>
                        <div class="col-10">
                            <input name="database[passwd]" class="form-control" type="password" value="{{ $:database['passwd'] ?? conf('database.passwd','root') }}"
                                id="db_passwd">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">保存修改</button>
                </fieldset>
            </form>
        </main>
    </div>
</div>
@endInsert @include('suda:bootstrap')