<div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; user-select: none; pointer-events: none; background-color: rgba(0, 255, 0, 0.125); display: flex; justify-content: center; align-items: center;">
    <div style="font-size: 32px; color: #fff; margin: 3em; word-break: break-all; word-wrap: break-word; background: rgba(255, 0, 0, 0.5); padding: 1em; border-radius: .2em;  ">
        @{ __('APP_DIR $0 in unsafe path, please move it out of $1',$:app(APP_DIR),$_SERVER['DOCUMENT_ROOT']) }
    </div>
</div>