@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="@u('suda:system_admin')">模块管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:admin_database')">数据库管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_database')">数据库配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_mailer')">邮件配置</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>模块名</th>
                            <th>版本</th>
                            <th>作者</th>
                            <th>描述</th>
                            <th>依赖</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach($:module_infos as $module)
                        <tr>
                            <td> <a href="{{$module['homepage']??'#'}}" target="_blank">{{ $module['name'] }}</a> </td>
                            <td> {{ $module['version'] ?? _T('未知版本')}} </td>
                            <td>
                                @foreach ( ($module['authors']??[] ) as $author ) <a href="mailto:{{$author['email']}}">{{ $author['name'] }}</a>                                @endforeach
                            </td>
                            <td>{{ $module['discription'] ?? _T('无描述') }}</td>
                            <td>@if (isset($module['require']) && count($module['require']) >0) @foreach ( ($module['require']
                                ) as $name=> $version )
                                <span>{{$name}}-{{$version}}</span> @endforeach @else 无 @endif
                            </td>
                            <td>
                                @if ($module['on'])
                                <a href="@u('suda:system_admin',['module'=>$module['name'].':'.$module['version'] ,'set'=>'off'])">禁用</a>                                @else
                                <a href="@u('suda:system_admin',['module'=>$module['name'].':'.$module['version'],'set'=>'on'])">启用</a>                                @endif
                            </td>
                        </tr>
                        @endforeach
                    </tbody>
                </table>
                <a href="@u('suda:add_module')" class="btn btn-secondary">创建新模块</a>
            </div>
        </main>
    </div>
</div>
@endInsert @include('suda:bootstrap')