/app
/public/dev-suda.php
/system/resource/app_template/data
/public/assets
/public/data
/public/phpinfo.php
/vendor/
/public/project
/.vscode
/script/source.txt
/docs/_book
/script/data
/tests
_olds
.suda
*.phar
script/docme/template/*.tpl.php