@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:system_admin')">模块管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="@u('suda:admin_database')">数据库管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_database')">数据库配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_mailer')">邮件配置</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h3>当前备份点 2017-04-26 17:49:16</h3>
            <div class="table-responsive">
                <div class="backup-bar">
                    <button type="button" class="btn btn-primary" data-url="@u('datebase_progress',['option'=>'backup'])">备份选中</button>
                    <button type="button" class="btn btn-info" data-url="@u('datebase_progress',['option'=>'recovery'])">恢复选中</button>
                    <button type="button" class="btn btn-danger" data-url="@u('datebase_progress',['option'=>'delete'])">删除选中</button>
                    <button type="button" class="btn btn-success" data-url-all="@u('datebase_progress',['all'=>'yes'])">新建备份</button>
                </div>
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>选项</th>
                                <th>模块</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td> <input type="checkbox" name="select['suda$1.0@dxkite']"> </td>
                                <td>suda$1.0@dxkite</td>
                                <td>
                                    <a href="#">备份</a>
                                    <a href="#">恢复</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <h4>历史备份</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2017-04-26 17:48:04</td>
                                <td>
                                    <a href="#">操作</a>
                                    <a href="#">全部恢复</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="modal fade" id="process" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="processWindow" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">操作日志信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body console">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">操作中</button>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
        </div>
    </div>
    @endInsert @startInsert('bs-footer')
    <script src="@static/db_manager.js"></script>
    @endInsert @include('suda:bootstrap')