@set('title', $:error ) @set('lang','Zh-cn') @startInsert('bs-head')
<!--  CSS -->
@endInsert @startInsert('bs-content')
<div class="container">
  <div class="row align-self-center">
    <div class="col">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">{{ $:erron('Unknow Error') }}</h1>
          <p class="lead">{{ $:error }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
@endInsert @startInsert('bs-footer')
<!-- 脚本 -->
@endInsert @include('suda:bootstrap')