@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:system_admin')">模块管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:admin_database')">数据库管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_database')">数据库配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="@u('suda:config_mailer')">邮件配置</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <form action="@u('suda:config_mailer')" method="POST">
                <fieldset>
                    <legend>SMTP基本设置</legend>
                    <div class="form-group row">
                        <label for="input_server" class="col-2 col-form-label">服务器</label>
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" name="smtp[server]" class="form-control col-10" value="{{ $:smtp['server'] ?? 'smtp.qq.com' }}">
                                <input type="number" name="smtp[port]" class="form-control col-2" value="{{ $:smtp['port'] ?? 25 }}" placeholder="端口">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="smtp_name" class="col-2 col-form-label">用户名</label>
                        <div class="col-10">
                            <input name="smtp[name]" class="form-control" type="text" value="{{ $:smtp['name'] ?? '' }}" id="smtp_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="smtp_email" class="col-2 col-form-label">邮件</label>
                        <div class="col-10">
                            <input name="smtp[email]" class="form-control" type="email" value="{{ $:smtp['email'] ?? '' }}" id="smtp_email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="smtp_passwd" class="col-2 col-form-label">密码</label>
                        <div class="col-10">
                            <input name="smtp[passwd]" class="form-control" type="password" value="{{ $:smtp['passwd'] ?? '' }}" id="smtp_passwd">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="smtp_timeout" class="col-2 col-form-label">超时设置</label>
                        <div class="col-10">
                            <input name="smtp[timeout]" class="form-control" type="number" value="{{ $:smtp['timeout'] ?? '' }}" id="smtp_timeout">
                        </div>
                    </div>
                    <div class="form-check">
                        <label for="smtp_auth" class="form-check-label">
                    <input name="smtp[auth]" class="form-check-input" type="checkbox" value="auth" id="smtp_auth" @if ($:smtp['auth']??false) checked @endif>
                    开启验证
                </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Sendmail基本设置</legend>
                    <div class="form-group row">
                        <label for="sendmail_name" class="col-2 col-form-label">发送邮箱名</label>
                        <div class="col-10">
                            <input name="sendmail[name]" type="text" id="sendmail_name" class="form-control" value="{{ $:sendmail['name'] ?? '' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sendmail_email" class="col-2 col-form-label">邮件</label>
                        <div class="col-10">
                            <input name="sendmail[email]" class="form-control" type="email" value="{{ $:sendmail['email'] ?? '' }}" id="sendmail_email">
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info">保存修改</button>
                <a href="@u('suda:sendmail')" class="btn btn-secondary">发送邮件</a>
            </form>
        </main>
    </div>
</div>
@endInsert @include('suda:bootstrap')