@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="@u('router_list')">路由列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('router_add')">添加路由</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            <div class="table-responsive">
                @foreach ($:router as $module => $infos)
                <h2> {{ $module }}</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>模块</th>
                            <th>生成数据库结构</th>
                            <th>导出数据</th>
                            <th>导入数据</th>
                            <th>清空数据</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach ($infos as $id=>$item)
                        <tr>
                            <td>{{$id}}</td>
                            <td> @if(isset($item['method'])) {{ implode(',',$item['method']) }} @else ALL @endif</td>
                            <td> <a href="@u($module.':'.$id)">{{ $item['visit'] }}</a></td>
                            <td> {{ $item['role'] }} </td>
                            <td> {{ $item['class'] }} </td>
                        </tr>
                        @endforeach
                    </tbody>
                </table>
                @endforeach
            </div>
        </main>
    </div>
</div>
@endInsert @include('suda:bootstrap')