@startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">Suda 控制面板</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@u('router_list')">路由管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">数据管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">模块管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">系统信息</a>
            </li>
        </ul>
    </div>
</nav>
@endInsert