@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@u('router_list')">路由列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="@u('router_add')">添加路由</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-3">修改成功</h1>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="@u('router_add')" role="button">添加路由</a>
                        <a class="btn btn-primary btn-lg" href="@u('router_list')" role="button">路由列表</a>
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>
@endInsert @include('suda:bootstrap')