@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@u('router_list')">路由列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="@u('router_add')">添加路由</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <form method="POST" action="{{ $_SERVER['REQUEST_URI'] }}">
                <fieldset>
                    <legend>基本设置</legend>
                    <div class="form-group row">
                        <label for="exampleSelect2" class="col-2 col-form-label">访问方式</label>
                        <div class="col-2 ">
                            <label class="form-check-label">
                        <input name="method" value="ALL" type="checkbox" class="form-check-input"  checked>
                        ALL
                        </label>
                        </div>
                        <div class="col-2">
                            <label class="form-check-label">
                        <input name="method[]" value="GET" type="checkbox" class="form-check-input">
                        GET
                        </label>
                        </div>

                        <div class="col-2">
                            <label class="form-check-label">
                        <input name="method[]" value="POST" type="checkbox" class="form-check-input">
                        POST
                        </label>
                        </div>

                        <div class="col-2">
                            <label class="form-check-label">
                        <input name="method[]" value="PUT" type="checkbox" class="form-check-input">
                        PUT
                        </label>
                        </div>
                        <div class="col-2">
                            <label class="form-check-label">
                        <input name="method[]" value="DELETE" type="checkbox" class="form-check-input">
                        DELETE
                        </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">路由ID</label>
                        <div class="col-10">
                            <input name="router" class="form-control" type="text" id="example-text-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">URL表达式</label>
                        <div class="col-10">
                            <input name="url" class="form-control" type="text" id="example-text-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">访问类</label>
                        <div class="col-10">
                            <input name="class" class="form-control" type="text" id="example-text-input" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-2 col-form-label">应用模块</label>
                        <div class="col-10">
                            <select name="module" class="form-control" id="exampleSelect1">
                                @foreach($:modules([]) as $set)
                                <option value="{{$set}}" >{{ $set }}</option>
                                @endforeach
                            </select>
                        </div>

                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend>设置父类</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" value="semple" class="form-check-input" name="response" id="optionsRadios1" value="option1" checked="">
                        使用普通基类
                    </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" value="admin" class="form-check-input" name="response" id="optionsRadios2" value="option2">
                        使用管理基类
                    </label>
                    </div>
                </fieldset>


                <fieldset class="form-group">
                    <legend>响应格式</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" value="html" class="form-check-input" name="type" id="optionsRadios1" value="option1" checked="">
                        响应HTML
                    </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" value="json" class="form-check-input" name="type" id="optionsRadios2" value="option2">
                        响应JSON
                    </label>
                    </div>
                </fieldset>

                <div class="form-check">
                    <label class="form-check-label">
                    <input name="over" type="checkbox" class="form-check-input">
                    覆盖模板和响应类
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">添加路由</button>
            </form>
        </main>
    </div>
</div>
@endInsert @include('suda:bootstrap')