html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-panel {
    display: flex;
    align-items: baseline;
    font-weight: 300;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1rem;
}

.text-suda {
    font-size: 3rem;
}

.text-version {
    margin-left: .5rem;
    font-weight: 600;
    color: rgba(20, 20, 245, 0.685);
}

.links {
    display: flex;
}

.link {
    display: block;
    text-decoration: none;
    color: #888;
    user-select: none;
    margin: 0 .25rem;
    padding: .5rem 1rem;
}

.link:hover {
    background-color: #eee;
    color: rgba(20, 20, 245, 0.685);
    transition: .3s;
}

.hello-world {
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
}

.text-ip {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    color: rgba(20, 20, 245, 0.685);
}