@include ('suda:header') @startInsert('bs-head')
<link href="@static/dev-panel.css" rel="stylesheet"> @endInsert @startInsert('bs-content')
<!--　侧边栏　　-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:system_admin')">模块管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="@u('suda:admin_database')">数据库管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_database')">数据库配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@u('suda:config_mailer')">邮件配置</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h3>当前备份点 {{ date('Y-m-d H:i:s',$:time) }}</h3>
            <div class="table-responsive">
                <div class="backup-bar">
                    <button type="button" class="btn btn-primary" data-op-url="@u('datebase_progress',['option'=>'backup','name'=>$:current_name])">备份选中</button>
                    <button type="button" class="btn btn-info" data-op-url="@u('datebase_progress',['option'=>'recovery','name'=>$:current_name])">恢复选中</button>
                    <button type="button" class="btn btn-danger" data-op-url="@u('datebase_progress',['option'=>'delete','name'=>$:current_name])">删除选中</button>
                    <button type="button" class="btn btn-success" data-url="@u('datebase_progress',['option'=>'backup','all'=>'yes'])">新建备份</button>
                </div>
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>选项</th>
                                <th>模块</th>
                                <th>大小</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach( $:current as $id=>$name)
                            <tr>
                                <td>{{ $id }}</td>
                                <td> <input type="checkbox" name="select[{{$name}}]"> </td>
                                <td>{{ $name }}</td>
                                <td>{{ $:current_size[$id] }} B</td>
                                <td>
                                    <a href="#" data-url="@u('suda:datebase_progress',['option'=>'backup','module'=>$name,'name'=>$:current_name])">备份</a>
                                    <a href="#" data-url="@u('suda:datebase_progress',['option'=>'recovery','module'=>$name,'name'=>$:current_name])">恢复</a>
                                    <a href="#" data-url="@u('suda:datebase_progress',['option'=>'delete','module'=>$name,'name'=>$:current_name])">删除</a>
                                </td>
                            </tr>
                            @endforeach
                        </tbody>
                    </table>
                </form>
                <h4>历史备份</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach ($:backup_list as $name => $item )
                            <tr>
                                <td>{{$name}}</td>
                                <td>{{ date('Y-m-d H:i:s',$item['time']) }}</td>
                                <td>
                                    <a href="@u('suda:admin_database',['current'=>$name])">操作</a>
                                    <a href="#" data-url="@u('suda:datebase_progress',['option'=>'recovery','name'=>$name,'all'=>'yes'])">恢复</a>
                                    <a href="#" data-url="@u('suda:datebase_progress',['option'=>'delete','name'=>$name,'all'=>'yes'])">删除</a>
                                </td>
                            </tr>
                            @endforeach
                        </tbody>
                    </table>
                </div>


                <div class="modal fade" id="process" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="processWindow" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">操作日志信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body console">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">操作中</button>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
        </div>
    </div>
    @endInsert @startInsert('bs-footer')
    <script src="@static/db_manager.js"></script>
    @endInsert @include('suda:bootstrap')